<div id="category-contents" class="hidden">
    <h3>Create A category</h3>
    <form id="category-form" action="/api/categories" method="post"
        class="flex flex-col gap-y-3 my-2 [&>div]:flex [&>div]:flex-col [&>div]:gap-1">
        <div>
            <label for="categoryName">Name</label>
            <input required type="text" name="name" id="categoryName" maxlength="50" />
        </div>
        <div>
            <label for="linkIcon">Icon</label>
            <input type="file" name="icon" id="linkIcon" accept=".svg" required />
        </div>
        <button class="px-4 py-2 rounded-md w-full bg-accent text-white border-0" type="submit">Create
            category</button>
    </form>
    <span id="category-message"></span>
</div>