<div id="category-contents" class="hidden">
    <h3>Create A category</h3>
    <form id="category-form" action="/api/categories" method="post" class="modal-form">
        <div>
            <label for="categoryName">Name</label>
            <input required type="text" name="name" id="categoryName" maxlength="50" />
        </div>
        <div>
            <label for="linkIcon">Icon</label>
            <input type="file" name="icon" id="linkIcon" accept=".svg" required />
        </div>
        <button type="submit">Create
            category</button>
    </form>
    <span id="category-message"></span>
</div>