<div id="category-delete-contents" class="hidden delete-modal">
    <h3>Are you sure you want to delete this category?</h3>
    <p>You are about to delete the category <strong id="category-name"></strong>. This action cannot be
        undone.
        All links associated with this category will also be deleted. Are you sure you want to continue?</p>
    <div>
        <button onclick="confirmDeleteCategory(event)">Delete
            category</button>
        <button onclick="closeModal()">Cancel</button>
    </div>
    <span id="delete-category-message"></span>
</div>