<div id="link-delete-contents" class="hidden delete-modal">
    <h3>Are you sure you want to delete this link?</h3>
    <p>You are about to delete the link <strong id="link-name"></strong>. This action cannot be undone. Are
        you sure you
        want to continue?</p>
    <div>
        <button onclick="confirmDeleteLink()">Delete
            link</button>
        <button onclick="closeModal()">Cancel</button>
    </div>
</div>