@import "./base.css";
@import "./card.css";

@layer components {
    .modal-bg {
        position: fixed;
        visibility: hidden;
        opacity: 0;
        inset: 0;
        background-color: color-mix(in srgb, #000 45%, #0000);
        justify-content: center;
        align-items: center;
    }

    .modal-bg.is-visible {
        visibility: visible;
        opacity: 1;
    }

    .modal {
        opacity: 0;
        background-color: var(--color-overlay);
        border-radius: calc(var(--spacing) * 3);
        overflow: hidden;
        padding: calc(var(--spacing) * 4);
        width: 100%;
        max-width: 24rem;
    }

    .modal.is-visible {
        opacity: 1;
    }

    #blur-target {
        transition: filter 300ms cubic-bezier(0.45, 0, 0.55, 1);
    }

    @media (prefers-reduced-motion: no-preference) {
        .modal-bg {
            visibility: hidden;
            opacity: 0;

            transition: opacity 0.3s ease, visibility 0s 0.3s;
            transition-timing-function: cubic-bezier(0.45, 0, 0.55, 1);
        }

        .modal-bg.is-visible {
            visibility: visible;
            opacity: 1;
            transition-delay: 0s;
        }

        .modal {
            opacity: 0;
            transform: translateY(20px) scale(0.95);

            transition: opacity 0.3s ease, transform 0.3s ease;
            transition-timing-function: cubic-bezier(0.45, 0, 0.55, 1);
        }

        .modal.is-visible {
            opacity: 1;
            visibility: visible;
            transform: translateY(0) scale(1);
            transition-delay: 0s;
        }

        #blur-target {
            transition: none;
        }
    }

    .modal-form {
        display: flex;
        flex-direction: column;
        gap: calc(var(--spacing) * 2);

        & > div {
            display: flex;
            flex-direction: column;
            gap: calc(var(--spacing) * 1);
        }

        & > button {
            display: flex;
            justify-content: center;
            column-gap: calc(var(--spacing) * 2);
            background-color: var(--color-accent);
            color: #fff;
            border-radius: calc(var(--spacing) * 1.5);
            padding-inline: calc(var(--spacing) * 4);
            padding-block: calc(var(--spacing) * 2);
        }
    }

    .delete-modal {
        text-align: center;

        & > p {
            margin-bottom: calc(var(--spacing) * 3);
        }

        & > div {
            display: flex;
            justify-content: end;
            flex-direction: column;
            row-gap: calc(var(--spacing) * 2);

            & > button {
                display: flex;
                justify-content: center;
                column-gap: calc(var(--spacing) * 2);
                padding-inline: calc(var(--spacing) * 4);
                padding-block: calc(var(--spacing) * 2);
                border-radius: calc(var(--spacing) * 1.5);
                width: 100%;
                color: #fff;
                transition: filter 300ms cubic-bezier(0.45, 0, 0.55, 1);

                &:nth-child(1) {
                    background-color: var(--color-error);
                }

                &:nth-child(2) {
                    border: 1px solid var(--color-highlight);
                    background-color: #0000;
                }

                &:not([disabled]) {
                    &:hover {
                        filter: brightness(125%);
                    }

                    &:active {
                        filter: brightness(95%);
                    }
                }
            }
        }
    }

    input:invalid.invalid {
        border: 1px solid var(--color-error);
    }

    .new-link-card {
        border: calc(var(--spacing) * 0.5) dashed var(--color-subtle);
        cursor: pointer;
        user-select: none;

        &:hover {
            text-decoration: underline;
        }
    }

    .action-container {
        display: flex;
        flex-direction: row;
        gap: calc(var(--spacing) * 2);
    }

    .link-grid > div > div:nth-child(3) {
        position: absolute;
        right: var(--spacing);
        top: var(--spacing);
    }

    .category-header > div:nth-child(2) {
        padding-left: calc(var(--spacing) * 2);
    }

    .add-category-button {
        width: fit-content;
        display: flex;
        align-items: center;
        color: var(--color-subtle);
        cursor: pointer;
    }

    .add-category-button > h2 {
        text-decoration: underline;
        text-decoration-style: dashed;
        text-decoration-thickness: calc(var(--spacing) * 0.5);

        &:hover {
            text-decoration: none;
        }
    }

    .action-button {
        display: flex;
        width: fit-content;
        height: fit-content;
        padding: 0.25rem;
        background-color: var(--color-highlight-sm);
        border: 1px solid color-mix(in srgb, var(--color-highlight) 70%, #0000);
        border-radius: 9999px;
        box-shadow: var(--shadow-sm);
        cursor: pointer;
        transition: filter 0.15s cubic-bezier(0.45, 0, 0.55, 1);
        contain: layout style paint;

        &:not([disabled]) {
            &:hover {
                filter: brightness(125%);
            }

            &:active {
                filter: brightness(95%);
            }
        }
    }

    .select-icon-button {
        display: flex;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: color-mix(in srgb, var(--color-highlight) 70%, #0000);
        color: var(--color-base);
        justify-content: center;
        align-items: center;
    }

    button[disabled] {
        cursor: not-allowed;
        filter: brightness(75%);
    }

    header {
        display: flex;
        width: 100%;
        padding: calc(var(--spacing) * 3);

        & > a {
            text-decoration: none;
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: calc(var(--spacing) * 2);
            color: var(--color-text);
            border-bottom: 1px solid var(--color-text);
            justify-content: center;
            line-height: var(--leading-condensed);

            &:hover {
                border-bottom-color: transparent;
            }
        }
    }
}
