<!DOCTYPE html>
<html lang="en">

<head>
    <title>Passport</title>
    <link rel="favicon" href="/favicon.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <link rel="preload" as="font" type="font/woff2" crossorigin="anonymous" href="/assets/fonts/InstrumentSans-VariableFont_wdth,wght.woff2">
    <style>{{{inlineCSS}}}</style>
</head>

<body class="bg-surface text-text">
    {{embed}}
</body>
{{{devContent}}}
</html>