@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Instrument Sans";
  src: url("/assets/fonts/InstrumentSans-VariableFont_wdth,wght.woff2")
    format("woff2");
  font-display: swap;
}

html {
  line-height: normal;
  color-scheme: dark;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-semibold;
}

h1 {
  font-size: clamp(48px, 10vw, 64px);
}

h2 {
  font-size: clamp(30px, 6vw, 36px);
}

h3 {
  font-size: 1.25rem;
}
